<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
    <div class="form-inline">
      <a href="/auth/login">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Đăng nhập</button>
      </a>
      <a href="/auth/register">
        <button
          class="btn btn-outline-success my-2 my-sm-0 ml-3"
          type="submit"
        >Đăng ký</button>
      </a>
    </div>
  </div>
</nav>