<div>
  <div class="sidebar">
    <a href="/device/manager"><div class="select-manager text-center">Sản phẩm đã đăng</div></a>
    <a href="#"><div class="select-manager text-center">Sản phẩm đã xóa</div></a>
  </div>
</div>