<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/auth.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <header class="header">Đăng nhập</header>
        <p class="title">Tài khoản</p>
        <div class="form-group">
          <input
            type="email"
            class="input-login"
            placeholder="Tài khoản"
            required
          />
        </div>
        <p class="title">Mật khẩu</p>
        <div class="form-group">
          <input
            class="input-login"
            id="Password"
            placeholder="Password"
            required
          />
        </div>
        <button class="btn-login primary">
          Đăng nhập
        </button>
        <span class="btn-register">
          <a href="/auth/register"><button>Chưa có tài khoản?</button></a>
        </span>
      </div>
    </div>
  </body>
</html>